.hero-container {
	min-height: 100vh;
	// background-color: red;
	background-image: url("../../assets/hero-image.svg");
	background-repeat: no-repeat;
	background-size: cover;

	.ratings {
		min-height: 100vh;
		width: 98.8vw;
		position: absolute;
		// bottom: 0;
		background: linear-gradient(
			180deg,
			rgba(5, 11, 20, 0.28) 0%,
			rgba(1, 13, 32, 0.69) 67.53%,
			#0a0b1a 85.33%
		);

		.overlay-container {
			height: 100vh;
		}
	}

	// // background-position-x: center;
	// // background: url("./assets/hero-image.svg") no-repeat center center fixed;
	// width: 100vw;
	// height: 100vh;
	// background: url(./assets/hero-image.svg);
}
