// background: #DD4CAC;

.circle {
	margin: 1rem 0 1rem 0;
	height: 208px;
	width: 208px;

	border-radius: 50%;

	border: 1px solid rgb(160, 157, 157);

	// //for anti-aliasing
	box-shadow: 0 0 1px 0px white inset, 0 0 1px 0px white;
}
